/* #region styles full */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0e1823;
}

button {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 150px;
    padding-bottom: 150px;
}

button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

/* #endregion styles full */

/* #region header */
.header-page {
    background: #fbfbfb;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    margin: 0 auto;
    padding: 0;
}
.container{}

.header-container {
    display: flex;
    align-items: center;
    position: inetter;
}

.header-box {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.header-page-nav {
    display: flex;
    align-items: center;
    gap: 375px;

}

.header-page-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.heasder-page-nav-list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-list-item {

}

.nav-list-link {
    display: block;
    background-color: rgba(27, 65, 75, 0.5);;
    border-radius: 8px;
    padding: 15px 25px 15px 24px;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fbfbfb;
}

.nav-list-link:hover,
.nav-list-link:focus    {   
    background: #1b414b;;
}

.current {
}

.header-page-social-list {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.socials-list-item {
    width: 24px;
    height: 24px;
}

.socials-link {
    /* background-color: #1b414b; */
    color: #fbfbfb;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-link:hover,
.socials-link:focus    {   
    background: #39afc4;
}

.social-item-icon {

}

.icon-header-link {
    fill: #1b414b;
    stroke: #fbfbfb;
}

/* #endregion header */

/* #region Hero */

.section {}

.hero {
    padding-top: 155px;
    padding-bottom: 0;
}

.hero-img {
    background-image: url(../images/hero/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
    margin: 0 auto;
}

.container {}

.hero-container {
    width: 1001px;
    text-align: center;
    padding: 150px 0;
}

.hero-title {
    /* font: 500 80px / 1 "Inter", sans-serif; */
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    padding-bottom: 12px;
}

.hero-text {
    /* font: 300 16px / 1.4 "Inter", sans-serif; */
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    padding: 12px 202px 48px 202px;
}

.hero-btn {
    background-color: #1b414b;
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;

}

/* #endregion Hero */

/* #region Block1 technology */

.section {}

.technology {
    padding: 0 15px;
}
.container {}

.technology-box-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fbfbfb;
    border-radius: 24px;
    max-width: 1340px;
    /* height: 675px; */
    padding-top: 0;
    padding: 50px 50px 438px 50px;
    
}

.technology-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    text-align: start;
    width: 537px;
    
}

.technology-subtitle-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 404px;

}

.technology-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.technology-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.technology-img {
    border-radius: 0 24px 0 0;
    margin: 0 auto;
   }

/* #endregion Block1 technology */

/* #region Cards block2 price */

.section {}

.cards {
}

.container {}

.container-choose-cards {
    padding: 0 15px;
    align-items: center;
    text-align: center;
}

.title-choose-cards {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 714px;
    margin: 0 auto;
    padding-bottom: 96px;
}

.cards-box {
    padding-bottom: 29px;
}

.cards-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
}

.cards-item {
    border-radius: 24px;
    width: 392px;
    height: 508px;
    background-color: #fbfbfb;
    align-items: center;
    padding: 16px;
}

.cards-img {
    padding-bottom: 16px; 
}

.cards-title-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    /* gap: 48px; */
    padding: 16px;
}

.cards-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.cards-title-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.cards-hr {}

.cards-prop-box {
    }

.cards-prop-list {
    padding: 16px 32px 32px 32px;
}

.cards-prop-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.prop-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
}

.prop-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    
}

/* .cards-btn-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    
} */

.cards-btn {
    border: 1px solid rgba(251, 251, 251, 0.35);
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    background-color: #0e1823;
    margin: 0 auto;
}

.cards-btn:hover,
.cards-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;;
}

/* #endregion Cards block2 price */

/* #region block3 sings */

.section {}

.sings {
    padding-top: 0;
    padding-bottom: 0;
}

.container {}

.container-sings {}

.visually-hidden {}

.container-sings-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    /* padding-left: 50px; */
}


.sings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 24px;
    background-color: #1b414b;
    padding: 78px 0;
    row-gap: 44px;
    /* padding-left: 32px;
    padding-right: 32px; */
}

.sings-list-item {
    width: 318px;
    padding: 0 18px;
}

.sings-item-lable {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    /* padding: 18px 0; */

}

.hr-sings {
    border-radius: 18px;
    width: 100%;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
}

.sings-list-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
    padding: 18px 0;
}

.sings-img {
    border-radius: 24px;
}

/* #endregion block3 sings */

/* #region block4 input */
.section {}

.section-input {}

.container {}

.container-input {
    display: flex;
    flex-direction: row;
}

.input-box {
    width: 768px;
    height: 534px;
    border-radius:24px;;
}

.input-img {
    border-radius:24px;;
}

.input-all-box {
    display: flex;
    flex-direction: column;

}

.input-form-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
}

.input-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.input-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
}

.input-list {}

.input-list-item {}

.input-intext {
 padding: 18px;
}


.input-send {}

/* #endregion block4 input */

/* #region block5 customers */


/* #endregion block5 customers */

/* #region footer */


 /* #endregion footer */





